.button
{
    background: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #001563;
	margin-left: 0px;
	margin-top: 0px;
}

.button:hover
{
    background: white;
    border: solid 1px grey;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: Red;   
    height: 25px;

}

/* Gradient 2 */
/* Gradient 1 */
.tb10 {
	background-image:url('images/form_bg.jpg');
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 167px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
	height: 22px;
}

.tb110 {
	background-image:url('images/form_bg.jpg');
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 45px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
	height: 23px;
}

.ui-dialog-title
{
    font-size: 12px !important;
}
#dialog-alert
{
    font-size: 12px !important;
}
th.ui-th-column div{
    white-space:normal !important;
    height:auto !important;
    padding:2px;
}
